@using X.PagedList
@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<VoyageAgence.Models.Voyage>


@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<a href="@Url.Action("ExportVoyagePdf")">Imprimer la liste des agences</a>
<p>
    <a asp-action="Create" class="btn btn-primary">Créer un nouveau voyage</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Description</th>
            <th>Date de départ</th>
            <th>Date de retour</th>
            <th>Prix</th>
            <th>Chauffeur</th>
            <th>Flotte</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>@Html.DisplayFor(modelItem => item.DateDepart)</td>
                <td>@Html.DisplayFor(modelItem => item.DateRetour)</td>
                <td>@Html.DisplayFor(modelItem => item.Prix)</td>
                <td>@Html.DisplayFor(modelItem => item.Chauffeur.Nom)</td>
                <td>@Html.DisplayFor(modelItem => item.Flotte.Matricule)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Modifier</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info">Détails</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<!-- Pagination -->
<div class="pagination">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
{
    DisplayLinkToFirstPage = PagedListDisplayMode.Always,
    DisplayLinkToLastPage = PagedListDisplayMode.Always,
    DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
    DisplayLinkToNextPage = PagedListDisplayMode.Always,
    MaximumPageNumbersToDisplay = 5,
    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    UlElementClasses = new string[] { "pagination" },
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})
</div>