@model VoyageAgence.Models.Annonce

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Annonce</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Prix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Prix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDepart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateArrivee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateArrivee)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LocaliteDepart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LocaliteDepart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Flotte)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Flotte.Matricule)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
